@font-face {
  font-family: 'roboto';
  src: local('roboto'), url(Roboto-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: nevis, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.borderer {
  border: 1px solid red;
}

@tailwind base;
@tailwind components;
@tailwind utilities;